.mail-preview {
    position: relative;

    padding-inline: 1rem;
    box-shadow: 0px -1px 0px var(--mail-bg-clr1);
    cursor: pointer;

    >p {
        font-weight: 700;

        >span {
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            left: 4rem;
        }
    }

    section {
        gap: .5rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2rem;
        height: 2rem;
        border-radius: 50%;

        &:hover {
            background-color: rgba(174, 174, 174, 0.254);
        }
    }

    &.read {
        background-color: var(--mail-bg-clr2);

        >p {
            font-weight: normal;
        }
    }

    &:hover {
        box-shadow: 0px 0px 5px var(--mail-txt-clr-1);
    }

    img {
        width: 1.2rem;
    }
}

.content {
    position: absolute;
    /* left: 250px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}