@media (max-width: 1050px) {
    .home {
        >.home-content {
            width: 90%;
            margin: auto;
        }

        >.app-links {
            gap: 20px;
            flex-direction: column;

            >.link {
                width: 90%;
                margin: auto;

                >* {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }
            }

            .link-img {
                width: 30%;
            }
        }
    }

}

@media (min-width: 1050px) {
    .home {
        display: grid;
        grid-template-columns: minmax(10px, 1fr) 1000px minmax(10px, 1fr);

        >* {
            grid-column: 2;
        }

        .app-links {
            justify-content: space-between;

            >.link {
                min-width: 300px;
                height: fit-content;

                .link-img {
                    text-align: center;
                    padding-block: 3vh;
                    margin-block-end: .5rem;

                    >img {
                        width: 40%;
                    }
                }

                h3 {
                    font-size: 1.25rem;
                }
            }
        }
    }
}