@media (max-width: 1300px) {
    .mail-index {
        >main {
            grid-column: 1/span 2;
        }
    }

    .mail-preview {
        height: 60px;

        >p {
            >span {
                top: 1.2rem;
            }
        }
    }

    .content {
        left: 4rem;
        bottom: -.3rem;
        width: 80%;
    }

    .mail-filter {
        width: 95%;
    }

    .mail-preview{
        >:last-child{
            display: none;
        }
    }

    .side-nav {
        position: absolute;
        z-index: 2;

        width: 30vw;
        min-width: 200px;
        height: 100vh;

        background-color: white;

        body.note-menu-open & {
            display: none;
        }
    }

}

@media (min-width: 1300px) {
    .mail-preview {
        height: 40px;
    }

    .content {
        left: 250px;
        width: 65%;
    }

    .mail-filter {
        width: 40vw;
    }
}

@media (min-width: 1300px) {
    .content {
        width: 70%;
    }
}

@media (min-width: 1600px) {
    .content {
        width: 75%;
    }
}