.input-features {
  display: flex;
  gap: 1rem;

  width: max-content;
  > img {
    width: 20px;

    &:hover {
      background-color: var(--note-icons-hover);
      border-radius: 50%;
      box-shadow: 0 0 0 6px var(--note-icons-hover);
      cursor: pointer;
    }
  }

  .half-note-input & {
    height: 20px;
  }
}
