.note-side-bar {
  grid-row: 1;

  padding-block: 1rem;
  display: grid;
  grid-auto-rows: 2rem;
  gap: 1.2rem;
  align-items: center;

  /* width: 220px; */
  background-color: var(--clr-note-bg-1);

  body.note-menu-open & {
    width: max-content;
    /* width: 25px;
    transition: width 0.3s ease; */
  }

  .side-bar-row {
    padding-left: 1.3rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;

    &:hover {
      background-color: var(--clr-note-bg-2);
    }

    > img {
      width: 25px;
    }

    &.active {
      background-color: var(--clr-active-side-bar);
    }

    body.note-menu-open & {
      padding: 0.4rem;
      margin-left: 0.9rem;
      border-radius: 5rem;

      > p {
        display: none;
      }
    }
  }
}
