.book-details {
  display: grid;
  grid-template-columns: 20vw 40vw;
  gap: 1rem;
  justify-items: start;
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
}

.book-img-container {
  justify-self: end;
  display: grid;
  gap: 0.5rem;
  grid-column: 1;
  grid-row: 1 / span 8;

  > :nth-child(1) {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  > :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  > :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
}

.cabookr-details h1 {
  color: var(--clr1);
  font-size: 2em;
}

.book-details h5 {
  color: var(--clr2);
}

.book-details img {
  max-width: 200px;
  display: block;
  margin: auto;
}

.red {
  color: red;
}

.green {
  color: green;
}

.on-sale {
  padding: 5px;
  grid-column: 1;
  grid-row: 1;

  background-color: rgb(255, 243, 84);
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.read-more-btn {
  color: rgb(0, 0, 0);
  cursor: pointer;

  &:hover {
    color: var(--clr-primary-4);
  }
}

.long-text {
  > p {
    margin-bottom: 0;
  }
}

.show-reviews {
  background-color: var(--clr-primary-1);
  font-size: 1.5rem;

  width: 100%;

  display: grid;
  gap: 10px;
  grid-column: span 2;
}

.review-row {
  position: relative;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.533);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

.review-row p {
  margin: 0;
  line-height: 1.4;
  color: #333;
}

/* Header with name, rating, and date */
.review-row p:nth-child(1) {
  font-weight: bold; /* Name */
  font-size: 1rem;
}

.delete-review {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 2px;

  width: 1.7rem;
  border-radius: 50%;

  cursor: pointer;
}

.book-content {
  > p {
    margin-block: 0.5rem;
  }
}
