.add-review {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  margin-top: 2rem;
  padding: 6rem;
  border-radius: 20px;

  background-color: var(--book-bg);
}

.review-form {
  display: grid;
  justify-items: center;
  gap: 1rem;

  font-size: 1rem;

  > input {
    font-size: 1rem;
  }
}

.review-btns {
  display: grid;
  grid-auto-flow: column;

  > button {
    width: 5rem;
  }
}
