.container {
  padding-left: 0px;
}

.book-preview {
  text-align: center;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-preview h4 {
  text-transform: capitalize;
  color: black;
}

.book-preview img {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
}
