.book-filter {
  background-color: var(--clr-primary-2);
  padding-block: 1em;
  box-shadow: 0 20px 0 var(--clr-primary-4);
}

.book-filter > h2 {
  margin-top: 0;
}

.book-filter form {
  display: grid;
  gap: 0.5rem;
  justify-content: center;

  input {
    width: 35vw;
    max-width: 600px;
    border-radius: 10px;
    padding: 0.7rem;

    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--clr-note-bg-2);
  }
}

.book-filter form label {
  justify-self: start;
}

.book-filter form input {
  justify-self: end;
}

.book-filter form button {
  margin-inline: 0;
  grid-column: 1 / 3;
  justify-self: center;
}
