.book-list {
  position: relative;

  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;

  .book-features {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    gap: 5px;
  }
}

.book-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  background-color: var(--clr1bg);
  border-radius: 8px;
}

.book-list li.loading {
  opacity: 0.7;
}

.book-btn {
  padding: 0.5rem;
  border: 1px solid var(--book-bg);
  border-radius: 10px;

  transition: background-color 0.3s ease;

  background-color: var(--bg-clr);

  &:hover {
    background-color: var(--book-bg);
  }
}
