.home {
  place-content: center;

  margin-bottom: 100px;

  > img {
    padding-block: 3vh;
  }

  > .home-content {
    width: 100%;
    margin-block-end: 3vh;
    text-align: start;

    > h2 {
      font-size: 1.125rem;
      text-transform: uppercase;
    }

    > p {
      line-height: 1.4em;
      margin: 0.5rem 0;
    }

    > p:nth-child(2) {
      margin-block-end: 1rem;
    }
  }
}
