.app-links {
    margin-block-end: 3vh;

    >.link {
        text-align: center;
        ;

        .link-img {
            box-shadow: 0px 0px 5px 0px #d2d2d2;
            border-radius: 1rem;
            cursor: pointer;

            >img {
                width: 70%;
            }
        }

        h3 {
            text-transform: uppercase;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }


}