.user-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 1em;
    left: 1em;

    width: 450px;
    padding: 1em;

    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: .2rem;
}

.user-msg button {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 20px;
}